extends layout.pug

block title
  - const homeTeam = game.home.abbr; const awayTeam = game.away.abbr;
  = game.away.abbr
  |
  | vs
  |
  = game.home.abbr
  
block content
  h1
    = game.away.abbr
    |
    | (
    = game.away.score.T
    | )
    |
    | @
    |
    = game.home.abbr
    |
    | (
    = game.home.score.T
    | )
  p= game.date

  - let playcount = 1; let drivecount = 1;
  each drive in Object.keys(game.drives).map(key => game.drives[key])
    div
      div
        span.drive-sequence
          | Drive
          |
          = drivecount++
        span= drive.posteam
      each play in Object.keys(drive.plays || {}).map(key => drive.plays[key])
        div.play
          span.play-sequence= playcount++
          |
          span.play-time= play.time
          |
          span.play-pos= play.yrdln
          |
          span.play-desc= play.desc

  div.scores
    div Score Summary
    each score in Object.keys(game.scrsummary).map(key => game.scrsummary[key])
      div.score
        div= score.team
        div
          span Type
          span= score.type
        div= score.desc
      div.players
        each player in Object.keys(score.players).filter(key => key !== '').map(playerName => ({ name: playerName, code: score.players[playerName]}))
          div= player.name + '(' + player.code + ')'

  div.stats
    table.stats
      thead
        tr
          th
          th= homeTeam
          th= awayTeam
      tbody
        tr
          th Total FD
          td= game.home.stats.team.totfd
          td= game.away.stats.team.totfd
        tr
          th Total Yards
          td= game.home.stats.team.totyds
          td= game.away.stats.team.totyds
        tr
          th pyds
          td= game.home.stats.team.pyds
          td= game.away.stats.team.pyds
          
        tr
          th ryds
          td= game.home.stats.team.ryds
          td= game.away.stats.team.ryds
        tr
          th pen
          td= game.home.stats.team.pen
          td= game.away.stats.team.pen
        tr
          th penyds
          td= game.home.stats.team.penyds
          td= game.away.stats.team.penyds
        tr
          th trnovr
          td= game.home.stats.team.trnovr
          td= game.away.stats.team.trnovr
        tr
          th pt
          td= game.home.stats.team.pt
          td= game.away.stats.team.pt
        tr
          th ptyds
          td= game.home.stats.team.ptyds
          td= game.away.stats.team.ptyds
        tr
          th ptavg
          td= game.home.stats.team.ptavg
          td= game.away.stats.team.ptavg
        tr
          th Time of Possession
          td= game.home.stats.team.top
          td= game.away.stats.team.top
